---
import { categories } from "../lib/data";
import { ModeToggle } from "./ModeToggle";
---

<header class="sticky top-0 z-10 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="container flex h-14 items-center">
    <div class="mr-4 flex">
      <a href="/" class="flex items-center space-x-2">
        <img src="/assets/logos/logo-brand.svg" class="h-8 w-8" />
        <span class="font-ubuntu font-medium antialiased text-lg">Compass Assets</span>
      </a>
    </div>
    <nav class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
      <div class="flex items-center space-x-1">
        {
          categories.map((category) => (
            <a
              href={category.path}
              class="inline-flex h-9 items-center justify-center rounded-md px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring"
            >
              {category.name}
            </a>
          ))
        }
      </div>
      <div class="flex items-center space-x-1">
        <ModeToggle client:load />
      </div>
    </nav>
  </div>
</header>
